sudo: false
language: python
services:
  - redis
python:
  - "2.7"
install:
  - pip install redis
  - pip install pytest-cov --use-mirrors
  - pip install coveralls --use-mirrors
script:
  - py.test --cov simplescheduler tests/
after_success:
  - coveralls